/* Import your external CSS and fonts first */
@font-face {
  font-family: agrandir;
  src: url(../public/fonts/Agrandir-Regular.otf);
}

.agrandir {
  font-family: agrandir;
}

@font-face {
  font-family: agrandir_bold;
  src: url(../public/fonts/Agrandir-TextBold.otf);
}

.agrandir_bold {
  font-family: agrandir_bold;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Astraal:wght@400;700&display=swap");
@import '@fortawesome/fontawesome-free/css/all.css';

/* Then include the Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* To customize scrollbar (optional) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
